.visual-refresh {
    div.subtitleContainer_f75fb0,
    main.container__133bf section.container__9293f {
        width: calc(100% - 172px);
        border-radius: 4px; /* Added subtle border radius */
    }

    div.page_c48ade {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
        border-radius: 4px; /* Added subtle border radius */

        &:has(div.bar_c38106 > div.trailing_c38106 > *:nth-child(3)) {
            & div.subtitleContainer_f75fb0,
            & main.container__133bf section.container__9293f {
                width: calc(100% - 216px);
            }
        }

        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: 0;
            right: anchor(right);
            width: anchor-size(width);
            padding: 0;
            border-radius: 4px; /* Added subtle border radius */
        }

        & div.trailing_c38106 {
            background: var(--background-base-lower);
            border: none;
            border-bottom: 1px solid var(--border-subtle);
            height: var(--custom-channel-header-height);
            border-radius: 4px; /* Added subtle border radius */
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 {
        margin-top: 16px;
        border-radius: 4px; /* Added subtle border radius */
    }

    div.topic__6ec1a {
        -webkit-app-region: no-drag;
        border-radius: 4px; /* Added subtle border radius */
    }
}
.visual-refresh .panels_c48ade {
    right: var(--space-xs) !important;
    left: auto;
    bottom: var(--space-xs);
    width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
    border-radius: 4px; /* Added subtle border radius */
}

.visual-refresh .guilds_c48ade {
    margin-bottom: 0;
    border-radius: 4px; /* Added subtle border radius */
}
.visual-refresh .base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];
}

button[aria-label="Send a gift"] {
    display: none;
}

@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);

    --custom-guild-list-padding: calc((72px - var(--guildbar-avatar-size)) / 2);
    
    /* Define a consistent border-radius variable */
    --subtle-border-radius: 4px;
}

.visual-refresh {
    
    /* Changed from 5px to 4px for more subtle border radius */
    button:not([aria-label="Send a gift"]) {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    input, textarea {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    div[class*="panel"], section, article {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    div[class*="modal"], div[class*="popout"], div[class*="menu"], div[class*="container"] {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    div[class*="message"] {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    .avatar-1BDn8e img, 
    .avatar-2e8lTP img,
    .avatar-3tNQiO img,
    .avatarContainer-28iYmV img,
    .visual-refresh nav[class*="guilds_"] img  {
        border-radius: 50% !important;
    }
    

    
    
    ::-webkit-scrollbar-thumb {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    /* Modify these to now have the subtle border radius instead of no radius */
    div[class*="tooltip"] {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    
    div[class*="role"] {
        border-radius: var(--subtle-border-radius) !important;
    }
    
    /* Changed to add a subtle border radius instead of removing it completely */
    div:not(.visual-refresh nav[class*="guilds_"] div) {
        border-radius: var(--subtle-border-radius) !important;
    }
}

.visual-refresh nav[class*="guilds_"] {
    defs>path {
        
        d: path("M0 0.464C0 0.301585 0 0.220377 0.0316081 0.158343C0.0594114 0.103776 0.103776 0.0594114 0.158343 0.0316081C0.220377 0 0.301585 0 0.464 0H0.536C0.698415 0 0.779623 0 0.841657 0.0316081C0.896224 0.0594114 0.940589 0.103776 0.968392 0.158343C1 0.220377 1 0.301585 1 0.464V0.536C1 0.698415 1 0.779623 0.968392 0.841657C0.940589 0.896224 0.896224 0.940589 0.841657 0.968392C0.779623 1 0.698415 1 0.536 1H0.464C0.301585 1 0.220377 1 0.158343 0.968392C0.103776 0.940589 0.0594114 0.896224 0.0316081 0.841657C0 0.779623 0 0.698415 0 0.536V0.464Z");
    }

    defs {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    [class*="childWrapper__"]>svg {
        width: calc(var(--guildbar-avatar-size) - 18px);
        height: calc(var(--guildbar-avatar-size) - 18px);
    }

    [class*="iconSizeMini_"] {
        width: calc(var(--guildbar-folder-size) / 3);
        height: calc(var(--guildbar-folder-size) / 3);

        [class*="acronym_"] {
            line-height: calc(var(--guildbar-folder-size) / 3);
        }

        &[style*="font-size: 12px;"] {
            font-size: 10px !important;
        }
        &[style*="font-size: 10px;"] {
            font-size: 7px !important;
        }
        &[style*="font-size: 8px;"] {
            font-size: 6px !important;
        }
    }

    [class*="childWrapper__"],
    [class*="childWrapper__"] img,
    [class*="icon_"],
    [class*="circleIconButton__"] {
        
        transition: border-radius 150ms linear;
    }

    [class*="selected__"] {
        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        &[class*="circleIconButton__"] {
            
        }
    }

    svg[class*="placeholderMask__"] {
        width: var(--guildbar-avatar-size);
        height: var(--guildbar-avatar-size);
    }

    svg:not([class*="placeholderMask__"]) {
        top: 0px;
        left: 0px;

        foreignObject {
            width: var(--guildbar-avatar-size);
            height: var(--guildbar-avatar-size);
            transform: translate(-4px, -4px);
        }
    }

    mask {
        --badge-offset: calc(var(--guildbar-avatar-size) - 40px);

        use[href$="-lower_badge_masks"] {
            translate: var(--badge-offset) var(--badge-offset);
        }

        use[href$="-upper_badge_masks"] {
            translate: var(--badge-offset);
        }

        use[href$="-blob_mask"] {
            scale: var(--blob-scale);
        }
    }

    [class*="folderIcon__"] {
        use {
            translate: none !important;

            &[href$="-blob_mask"] {
                scale: var(--folder-blob-scale) !important;
            }
        }

        [class*="wrapper_"],
        foreignObject {
            width: var(--guildbar-folder-size) !important;
            height: var(--guildbar-folder-size) !important;
        }
    }

    [class*="scroller__36d07 customTheme_d125d2 auto_d125d2 scrollerBase_d125d2 disableScrollAnchor_d125d2 managedReactiveScroller_d125d2"] {
        background-color: #313338;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    [class*="childContainer"] {
        background-color: #313338;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    [class*="membersWrap_"] {
        background-color: #313338;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    [role*="list"] {
        background-color: #2b2d31;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    .content__99f8c {
        background-color: #2b2d31;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    
    .message__5126c.cozyMessage__5126c.groupStart__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55.hasReply_c19a55,
    div[class*="message"][class*="cozyMessage"][class*="groupStart"][class*="wrapper"][class*="cozy"][class*="zalgo"][class*="hasReply"] {
        background-color: #313338 !important;
        border-radius: var(--subtle-border-radius) !important; /* Added subtle border radius */
    }

    [class*="closedFolderIconWrapper__"] {
        gap: initial;
    }

    [class*="listItem__"] {
        margin-bottom: 8px;
    }

    [class*="tree_ef3116"] {
        gap: 0 !important;
        background-color: #1e1f22 !important;
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }
    
    [class*="stack_"] {
        gap: 0 !important;
        background-color: #1e1f22 !important; 
        border-radius: var(--subtle-border-radius); /* Added subtle border radius */
    }

    div:not([class]):has([class*="listItem__"]) {
        height: var(--guildbar-avatar-size) !important;
        margin: 8px 0 8px;
    }

    [class*="isExpanded__"] {
        [class*="folder__"] {
            background-color: var(--background-secondary);
            border-radius: var(--subtle-border-radius); /* Added subtle border radius */
        }

        [class*="expandedFolderBackground__"] {
            border-radius: 24px;
        }

        [class*=expandedFolderIconWrapper__] {
            svg {
                width: calc(var(--guildbar-folder-size)/2);
                height: calc(var(--guildbar-folder-size)/2);
            }
            margin: 0;
            transition: background-color var(--custom-folder-item-animation-duration) ease-out; 
        }

        [class*="stack_"] {
            height: auto !important;
            :last-child {
                margin-bottom: 0;
            }
        }

        margin-bottom: 8px;
    }

    [id^="folder-items-"] {
        --guildbar-avatar-size: var(--guildbar-folder-size) !important;
    }
}
